.sidebar-fix{



  background: white;



}

.sidebar-fix .ApBlockLink ul li:hover {

       background: #FFEE73;

       letter-spacing: 2px;       

}

.sidebar-fix .ApBlockLink ul li:hover a:hover {

       color: black !important;

       /*font-size: 13px !important;*/

}



#page.sliderbar-menu-margin {

	/*margin-left: 180px;*/

}

.sidebar-fix {

	/*width: 180px;*/

}

#social_block {

	padding: 20px 0px;

}

#topbar {

	background: #FFF;

}

.box-adv h4 {

       color:#181D22;

}

#header_logo a{

	display: none;

}

#breadcrumb {
	display: none;
}

#contact_info{
	position: absolute;
	left: 800px;
	top: 160px;
	display: block;
}

#contact_info a{
        color: #000;
}

h7{
       font-family: "Lato",sans-serif !important;
       font-size:16px !important;
       color:#000;
}

#img_story1{
      padding-top:10px;
}
#txt_story1{
     font-size:16px;
     font-weight:600;
}
#txt_story2{
	display: block;
	position: absolute;
	width: 600px;
	top: 100px;
	left: 360px;
}

#txt_story2_2{
       display: block;
       padding-top: 20px;
}

#txt_story2_3{
       display: block;
       padding-top: 20px;
}

#img_story2{
	display: block;
	position: absolute;
	top: 275px;
	left: 360px;
}

#img_story3{
       padding-top:20px;
}

#txt_story3{
	display: block;
	position: absolute;
	width: 600px;
	top: 625px;
	left: 360px;
}

#txt_story3_2{
       display: block;
       padding-top: 20px;
}

#txt_campaign1_1{
	display: block;
	position: absolute;
	top: 320px;
	left: 300px;
        text-shadow: 1px 1px #999;
}
#txt_campaign1_21{
	display: block;
	position: absolute;
	top: 375px;
	left: 205px;
	width: 380px;
	font-size: 15px;
        text-align: center;
        text-shadow: 1px 1px #999;
}
#txt_campaign1_22{
	display: block;
	position: absolute;
	top: 400px;
	left: 230px;
	width: 380px;
	font-size: 15px;
        text-align: center;
        text-shadow: 1px 1px #999;
}
#txt_campaign1_3{
	display: block;
	position: absolute;
	top: 450px;
	left: 230px;
	width: 380px;
	font-size: 15px;
        text-align: center;
        text-shadow: 1px 1px #999;
}
#txt_campaign1_4{
	display: block;
	position: absolute;
	top: 490px;
	left: 230px;
	width: 380px;
	font-size: 15px;
        text-align: center;
        text-shadow: 1px 1px #999;
}
#txt_campaign1_5{
	display: block;
	position: absolute;
	top: 530px;
	left: 230px;
	width: 380px;
	font-size: 15px;
        text-align: center;
        text-shadow: 1px 1px #999;
}

#txt_contact_1{
	font-size: 15px;
	display: block;
}

#txt_contact_2{
	font-size: 15px;
	display: block;
}

#footer #newsletter_block_left {

       top:30% !important;
}

#footer #newsletter_block_left .block_content .newsletter-input {
      width:100% !important;
}