@import "compass";
@import "theme_variables";
#categories_block_top {
  clear: both;
  position: relative;
  top: 30px;
  .sf-menu {
    position: relative;
    > li {
      position: static;
      > ul {
        width: 100%;
        top: 60px;
        margin: 0 20px;
        > li {
          display: block;
          @include rtl-float-left();
          width: 20%;
          @include box-sizing(border-box);
          padding: 0 10px;
        }
        > .category_thumb {
          display: block;
          clear: both;
          overflow: hidden;
          width: 100%;
          img {
            display: inline-block;
            width: 33%;
          }
        }
      }
      h4 {
        a {
          font-size: 1.1em;
          &:before {
            display: none;
          }
        }
      }
      .main-level-submenus {
        position: relative;
        display: block !important;
        visibility: visible !important;
        top: 0;
        background: none;
		        @include box-shadow(none);
        padding: 0;
        @include rtl-left(0);
      }
    }
    .category_thumb {
      display: none;
    }
  }
}

#categories_block_left {
  	ul{
  		margin-bottom: 0;
  		li {
	  		position: relative;
	  		a{
	  			color: $theme-color-tertiary;
	  			font-size: 12px;
	  			font-weight: 700;
	  			text-transform: uppercase;
	  			display: inline-block;
	  			width: 100%;
	  			@include rtl-padding(10px,15px,10px,40px);
	  			&:hover{
	  				background: #44474b;
	  			}
	  			&.selected{
	  				color: $theme-color-default;
	  			}
	  		}
		    span.grower {
			    display: block;
			    position: absolute;
			    @include rtl-left(0);
			    top: 10px;
			    cursor: pointer;
			    font-family: $font-icon;
			    font-size: 12px;
			    width: 25px;
			    height: 25px;
			    z-index: 999;
		      	&.OPEN,
		      	&.CLOSE {
			        &:before {
			          	content: "-";
			          	display: block;
			          	vertical-align: middle;
			          	width: 25px;
			          	height: 25px;
			          	color: $text-color;
			          	line-height: 25px;
			          	text-align: center;
			        }
		      	}
		      	&.CLOSE:before {
			        content: "+";
			        color: $text-color;
		      	}
	    	}
		    .leo-qty{
			    position: relative;
			    text-align: center;
			    padding: 0 5px;
			    color: #999;
			    font-size: 12px;
			    @include rtl-float-right();
		      	&:before{
		      		content: "(";
		      		position: absolute;
		      		@include rtl-left(0);
		      		top: 0;
		      	}
		      	&:after{
		      		content: ")";
		      		position: absolute;
		      		@include rtl-right(0);
		      		top: 0;
		      	}
		    }
	    	& span.grower:hover {
	      		color: $link-hover-color;
	    	}
	    	ul {
		      	position: relative;
		      	&:before{
		      		content: "";
		      		position: absolute;
		      		@include rtl-border-left(3px solid $theme-color-default);
		      		width: 3px;
		      		height: 100%;
		      		@include rtl-left(0);
		      	}
		      	li {
			        a {
			        	text-transform: none;
			        	color: #666666;
			        	font-weight: 400;
			        	font-size: 14px;
			        	position: relative;
			        	@include rtl-padding(10px,15px,10px,50px);
			        	@include rtl-border-left(3px solid $nocolor);
			          	&:hover {
			          		@include rtl-border-left(3px solid $theme-color-default);
			          	}
			        }
			        span.grower {
			        	@include rtl-left(27px); top: 8px;
			        }
		        	li {
		        		a {}
		        	}
		      	}
	    	}
	  	}
  	}
}