/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/**********************************************
STYLE GLOBAL
**********************************************/
.group-widget .title_block, .columns-container .ApColumn .title_block {
  font-size: 36px;
  text-align: center;
  font-family: "latoblack", sans-serif;
  position: relative;
  text-transform: capitalize;
  padding: 50px 0 20px;
  margin: 0 0 25px;
}
.group-widget .title_block:before, .columns-container .ApColumn .title_block:before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 0;
  width: 60px;
  height: 2px;
  background-color: #000000;
}

.ApColumn .block {
  margin-bottom: 18px;
}

.bg-fullwidth {
  position: relative;
}
.bg-fullwidth:before {
  padding: 0px 1000px;
  margin-left: -1000px;
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  height: 100%;
  display: block !important;
  top: 0;
}
.rtl .bg-fullwidth:before {
  margin-right: -1000px;
  margin-left: inherit;
}

/**
* Start for module ap_gmap
*/
div[id^="google-maps"] {
  position: relative;
}

div[id^="gmap-stores-list"] {
  overflow: auto!important;
}

div[id^="gmap-stores-list"] > ul {
  margin: 30px;
}

.display-list-store {
  background-color: #6cabd5;
  float: left;
}

.gmap-stores-content, .gmap-content {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
}

.not-display-list-store .gmap-stores-content, .not-display-list-store .gmap-content {
  width: 100%;
}

.gmap-cover {
  width: 100%;
}

.item-gmap-store {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.item-gmap-store:hover {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.item-gmap-store .icon-map-marker {
  margin-right: 6px;
  font-size: 120%;
}
.item-gmap-store text {
  font-size: 85%;
}

/**
* End for module ap_gmap
*/
/**
* Start for module ap_product_list
*/
.box-show-more {
  border-bottom: 1px solid #d6d4d4;
  padding-bottom: 5px;
  text-align: center;
  display: none;
}
.box-show-more .open {
  display: block;
}

/* Start for module ap_image */
.ap_image .has-animation {
  opacity: 0;
  filter: alpha(opacity=0);
}

.ap_image .has-animation.animated {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* End for module ApFullSlider */
.full-slider {
  margin-top: 20px;
}
.full-slider .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
}
.full-slider .carousel-inner .item {
  width: 100%;
  height: 100%;
}

.full_slide_detail .full-slider {
  margin-top: 50px;
}
.full_slide_detail .full-slider .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url(../img/background_image_gallery.jpg);
}
.full_slide_detail .full-slider .carousel-inner .item {
  padding: 15px 20px;
  width: 100%;
  height: 100%;
}

/* Start for module ApFullSlider */
.cover-live-edit {
  width: 100%;
  border-top: 1px dashed #bdbdbd;
}
.cover-live-edit .link-to-back-end {
  text-decoration: none;
  color: #fff;
  z-index: 9999;
  background-color: rgba(204, 153, 0, 0.5);
  padding: 5px;
  position: relative;
  -webkit-box-shadow: 0 0 5px #bdbdbd;
  box-shadow: 0 0 5px #bdbdbd;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.cover-live-edit .link-to-back-end:hover {
  background-color: #00e676;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ap-cover-hook {
  border: 1px dashed #bdbdbd;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ap-cover-hook:hover {
  border: 1px dashed #333;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/**
* ApVideo
*/
.embed-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-responsive iframe,
.embed-responsive object,
.embed-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ADV header */
.box-adv {
  margin-top: 15px;
  text-align: center;
  float: left;
}
.rtl .box-adv {
  float: right;
}
.box-adv h4 {
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  margin: 0;
}
.box-adv p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #666;
  text-transform: none;
}

/* Tabs Top */
.tabs-top.latest-products .nav-tabs {
  text-align: center;
  margin-bottom: 50px;
  border: none;
}
.tabs-top.latest-products .nav-tabs > li {
  display: inline-block;
  float: none;
  border: none;
  margin: 0;
}
.tabs-top.latest-products .nav-tabs > li > a {
  color: black;
  font-family: "latoblack", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 20px 0 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: transparent;
  margin: 0;
  border: none;
}
.rtl .tabs-top.latest-products .nav-tabs > li > a {
  padding: 0 0 0 20px;
}
.tabs-top.latest-products .nav-tabs > li > a:hover {
  color: #f3652a;
  border: none;
}
.tabs-top.latest-products .nav-tabs > li.active > a, .tabs-top.latest-products .nav-tabs > li.active > a:hover, .tabs-top.latest-products .nav-tabs > li.active a:focus {
  color: #f3652a;
  border: none;
}

/* Footer Social link */
.footer-social-link {
  margin: 15px 0;
  display: inline-block;
}
.footer-social-link li {
  display: inline-block;
}
.footer-social-link li a {
  text-transform: uppercase;
  color: black;
  font-size: 12px;
  padding: 0 8px;
}

/* reinsurance-block */
#reinsurance-block {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
  overflow: hidden;
}
.rtl #reinsurance-block {
  text-align: right;
}
#reinsurance-block .feature-box {
  font-size: 12px;
  padding: 50px 40px;
  position: relative;
}
#reinsurance-block .feature-box:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 1000%;
  border-right: 1px solid #eeeeee;
}
.rtl #reinsurance-block .feature-box:after {
  left: 0;
  right: auto;
}
.rtl #reinsurance-block .feature-box:after {
  border-left: 1px solid #eeeeee;
  border-right: inherit;
}
#reinsurance-block .feature-box .fbox-icon {
  float: left;
  margin-right: 25px;
}
.rtl #reinsurance-block .feature-box .fbox-icon {
  float: right;
}
.rtl #reinsurance-block .feature-box .fbox-icon {
  margin-left: 25px;
  margin-right: inherit;
}
#reinsurance-block .feature-box .fbox-icon .icon {
  width: 50px;
  height: 50px;
  background: url("../../../../../img/default/icon-1.png") no-repeat -6px -3px transparent;
  display: block;
  color: white;
}
#reinsurance-block .feature-box .fbox-icon .icon.icons-v2 {
  background-position: -61px -3px;
}
#reinsurance-block .feature-box .fbox-icon .icon.icons-v3 {
  background-position: -116px -3px;
}
#reinsurance-block .feature-box h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 5px 0;
  font-size: 12px;
  font-family: "latoblack", sans-serif;
}
#reinsurance-block .feature-box p {
  margin: 0;
  padding: 0;
}
#reinsurance-block .feature-box:hover {
  cursor: pointer;
}
#reinsurance-block .feature-box:hover .fbox-icon {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* Widget HTML */
.column-fixed .ApHtml {
  margin: 0;
}

/* Widget Raw HTML */
.box-custom {
  margin: 30px 0;
}
.box-custom h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  font-size: 30px;
  font-family: "latoblack", sans-serif;
}
.box-custom h2 .orange {
  color: #f3652a;
}
.box-custom p {
  color: white;
  margin-bottom: 20px;
}
.box-custom .btn-outline-inverse {
  color: white;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  height: 36px;
  line-height: 36px;
  padding: 0 40px;
}
.box-custom .btn-outline-inverse:hover {
  -webkit-box-shadow: 0 0 0 30px #f3652a inset;
  box-shadow: 0 0 0 30px #f3652a inset;
  background: #f3652a;
  border-color: #f3652a;
}

.box-custom-extra {
  font-size: 12px;
  text-transform: uppercase;
  padding: 20px 10%;
  background: #333333;
}
.box-custom-extra h1 {
  color: white;
  text-transform: uppercase;
  font-family: "Noticia Text", sans-serif;
  letter-spacing: 10px;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
}
.box-custom-extra .txt-shop {
  padding: 15px 0;
}
.box-custom-extra .txt-shop a {
  font-family: "latoblack", sans-serif;
  font-size: 12px;
  border-bottom: 1px solid white;
  color: white;
  padding-bottom: 5px;
}
.box-custom-extra .txt-shop a:hover {
  color: #f3652a;
}
.box-custom-extra .text-extra span {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Noticia Text", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.box-custom-extra .txt-left {
  float: left;
}
.rtl .box-custom-extra .txt-left {
  float: right;
}
.box-custom-extra .txt-right {
  float: right;
  padding: 0;
  margin-top: -41px;
}
.rtl .box-custom-extra .txt-right {
  float: left;
}

.custom-saleoff {
  background: #5a93e0;
  text-align: center;
  letter-spacing: 5px;
  font-size: 24px;
  color: white;
  padding: 35px 20px;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
  margin-top: 30px;
}
.custom-saleoff:hover {
  letter-spacing: 10px;
  -webkit-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
  cursor: pointer;
}

/* Widget Image */
.banner-home-4 .ApImage.effect-img {
  margin-bottom: 55px;
}
.banner-home-4 .ApImage.img_anim .btn-banner {
  color: black;
}
.banner-home-4 .ApImage.img_anim:hover .btn-banner {
  color: white;
}

.ApImage.store-location {
  position: relative;
  margin-bottom: 70px;
}
.ApImage.store-location .image_description {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  line-height: 30px;
  margin: 60px auto;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 545px;
  height: 280px;
  overflow: hidden;
  text-align: center;
}
.ApImage.store-location .image_description h4 {
  color: white;
  margin: 15px 0;
}
.ApImage.store-location .image_description .orange {
  color: #f3652a;
  font-size: 18px;
}
.ApImage.store-location img {
  max-width: inherit;
}
.ApImage.img_home_5 {
  position: relative;
  overflow: hidden;
}
.ApImage.img_home_5 .image_description {
  position: absolute;
  background: white;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 360px;
  height: 360px;
  overflow: hidden;
  text-align: center;
  padding: 60px 20px;
  font-size: 20px;
  font-weight: 300;
}
.ApImage.img_home_5 .image_description .title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.ApImage.img_home_5 .image_description .heading-title {
  font-size: 48px;
  font-family: "latoblack", sans-serif;
}
.ApImage.img_home_5 .image_description .btn-outline-inverse {
  color: black;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  height: 36px;
  line-height: 36px;
  padding: 0 40px;
}
.ApImage.img_home_5 .image_description .btn-outline-inverse:hover {
  -webkit-box-shadow: 0 0 0 30px #f3652a inset;
  box-shadow: 0 0 0 30px #f3652a inset;
  background: #f3652a;
  border-color: #f3652a;
}

/*instagram-block*/
.instagram-block {
  border-top: 1px solid #eeeeee;
  margin-bottom: 60px;
  margin-top: 35px;
  padding-top: 20px;
}
.instagram-block img {
  width: 180px;
}
.instagram-block a {
  display: inline-block;
  padding: 0 9px;
}
.instagram-block .block-content {
  margin-top: 40px;
}

/* manufacturers_block */
.columns-container .manufacturers_block .title_block {
  padding-top: 40px;
}

.manufacturers_block .manufacturer-block {
  margin-bottom: 18px;
  overflow: hidden;
  position: relative;
}
.manufacturers_block .manufacturer-block:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transform: scale3d(1.1, 1.1, 1);
  -moz-transform: scale3d(1.1, 1.1, 1);
  -ms-transform: scale3d(1.1, 1.1, 1);
  -o-transform: scale3d(1.1, 1.1, 1);
}
.manufacturers_block img {
  backface-visibility: hidden;
  /* W3C */
  -webkit-backface-visibility: hidden;
  /* Safari & Chrome */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
  -o-backface-visibility: hidden;
  /* Opera */
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 1s ease 0s, transform 1s ease 0s;
  transition: opacity 1s ease 0s, transform 1s ease 0s;
}
.manufacturers_block .block_content {
  margin-top: 40px;
}

/* Product List */
.group-plist {
  margin-bottom: 60px;
}
.group-plist .ApColumn .ApProductList .title_block {
  text-align: left;
}
.rtl .group-plist .ApColumn .ApProductList .title_block {
  text-align: right;
}
.group-plist .ApProductList {
  border: 4px solid #f3f3f3;
  padding: 15px 35px;
}
.group-plist .ApProductList .title_block {
  font-size: 18px;
  padding-top: 15px;
}
.group-plist .ApProductList .title_block:before {
  left: 0;
  margin: 0;
  width: 30px;
}
.rtl .group-plist .ApProductList .title_block:before {
  right: 0;
  left: auto;
}
.group-plist .ApProductList .product-block {
  text-align: left;
  margin-bottom: 20px;
}
.rtl .group-plist .ApProductList .product-block {
  text-align: right;
}

/* Latest Blog */
.latest-blogs .block_content {
  margin-top: 40px;
}
.latest-blogs .blog-container .blog-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding: 18px 0;
}
.latest-blogs .blog-container .blog-title a {
  color: black;
  line-height: 20px;
}
.latest-blogs .blog-container .blog-title a:hover {
  color: #f3652a;
}
.latest-blogs .blog-container .blog-meta {
  font-size: 13px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 15px;
  color: #999999;
}
.latest-blogs .blog-container .blog-meta:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  background-color: #e5e5e5;
  width: 30px;
  height: 1px;
}
.rtl .latest-blogs .blog-container .blog-meta:before {
  right: 0;
  left: auto;
}
.latest-blogs .blog-container .blog-meta > span {
  margin-right: 8px;
  padding-right: 8px;
  color: black;
  position: relative;
}
.rtl .latest-blogs .blog-container .blog-meta > span {
  margin-left: 8px;
  margin-right: inherit;
}
.rtl .latest-blogs .blog-container .blog-meta > span {
  padding-left: 8px;
  padding-right: inherit;
}
.latest-blogs .blog-container .blog-meta > span:after {
  position: absolute;
  content: "/";
  top: 0;
  right: 0;
}
.latest-blogs .blog-container .blog-meta > span:last-child:after {
  display: none;
}
.latest-blogs .blog-container .blog-meta > span.blog-created {
  color: #999999;
}
.latest-blogs .blog-container .blog-meta > span > span {
  color: #999999;
}

/* HTML Count Down */
.ApColumn .time-cdown {
  background: url(../../../../../img/default/bg-html-countdown.jpg) repeat 0 0 transparent;
  padding: 28px 0;
  text-align: center;
  min-height: 300px;
}
.ApColumn .time-cdown .title_block {
  font-size: 60px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}
.ApColumn .time-cdown .title_block:before {
  display: none;
}
.ApColumn .time-cdown .block_content p {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.ApColumn .time-cdown .ap-countdown-time ul {
  display: inline-block;
  margin: 0;
  text-align: center;
  border: 3px solid #FFFFFF;
  padding: 15px 10px;
}
.ApColumn .time-cdown .ap-countdown-time li {
  text-transform: uppercase;
  padding: 8px 20px;
  width: 80px;
  font-size: 24px;
  margin: 0 10px;
  line-height: 20px;
  color: #000000;
  font-family: "latoblack", sans-serif;
  background-color: #FFFFFF;
}
.ApColumn .time-cdown .countdown_num span {
  font-size: 12px;
  display: block;
}
.ApColumn .time-cdown .btn-link {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #FFFFFF;
  font-weight: 900;
  margin-top: 20px;
  display: inline-block;
}
.ApColumn .time-cdown .btn-link:hover {
  text-decoration: none;
}
