@import "compass";
@import "theme_variables";

$image-theme-base-path: "img/";

$theme-color-default: 		#01a89e;
$link-hover-color: 			$theme-color-default;

$breadcrumb-active-color:       $theme-color-default;
@import "../_skin";

