/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
#categories_block_top {
  clear: both;
  position: relative;
  top: 30px;
}
#categories_block_top .sf-menu {
  position: relative;
}
#categories_block_top .sf-menu > li {
  position: static;
}
#categories_block_top .sf-menu > li > ul {
  width: 100%;
  top: 60px;
  margin: 0 20px;
}
#categories_block_top .sf-menu > li > ul > li {
  display: block;
  float: left;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.rtl #categories_block_top .sf-menu > li > ul > li {
  float: right;
}
#categories_block_top .sf-menu > li > ul > .category_thumb {
  display: block;
  clear: both;
  overflow: hidden;
  width: 100%;
}
#categories_block_top .sf-menu > li > ul > .category_thumb img {
  display: inline-block;
  width: 33%;
}
#categories_block_top .sf-menu > li h4 a {
  font-size: 1.1em;
}
#categories_block_top .sf-menu > li h4 a:before {
  display: none;
}
#categories_block_top .sf-menu > li .main-level-submenus {
  position: relative;
  display: block !important;
  visibility: visible !important;
  top: 0;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  left: 0;
}
.rtl #categories_block_top .sf-menu > li .main-level-submenus {
  right: 0;
  left: auto;
}
#categories_block_top .sf-menu .category_thumb {
  display: none;
}

#categories_block_left ul {
  margin-bottom: 0;
}
#categories_block_left ul li {
  position: relative;
}
#categories_block_left ul li a {
  color: #999999;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  padding: 10px 15px 10px 40px;
}
.rtl #categories_block_left ul li a {
  padding: 10px 40px 10px 15px;
}
#categories_block_left ul li a:hover {
  background: #44474b;
}
#categories_block_left ul li a.selected {
  color: #f3652a;
}
#categories_block_left ul li span.grower {
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  cursor: pointer;
  font-family: "FontAwesome";
  font-size: 12px;
  width: 25px;
  height: 25px;
  z-index: 999;
}
.rtl #categories_block_left ul li span.grower {
  right: 0;
  left: auto;
}
#categories_block_left ul li span.grower.OPEN:before, #categories_block_left ul li span.grower.CLOSE:before {
  content: "-";
  display: block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  color: #999999;
  line-height: 25px;
  text-align: center;
}
#categories_block_left ul li span.grower.CLOSE:before {
  content: "+";
  color: #999999;
}
#categories_block_left ul li .leo-qty {
  position: relative;
  text-align: center;
  padding: 0 5px;
  color: #999;
  font-size: 12px;
  float: right;
}
.rtl #categories_block_left ul li .leo-qty {
  float: left;
}
#categories_block_left ul li .leo-qty:before {
  content: "(";
  position: absolute;
  left: 0;
  top: 0;
}
.rtl #categories_block_left ul li .leo-qty:before {
  right: 0;
  left: auto;
}
#categories_block_left ul li .leo-qty:after {
  content: ")";
  position: absolute;
  right: 0;
  top: 0;
}
.rtl #categories_block_left ul li .leo-qty:after {
  left: 0;
  right: auto;
}
#categories_block_left ul li span.grower:hover {
  color: #f3652a;
}
#categories_block_left ul li ul {
  position: relative;
}
#categories_block_left ul li ul:before {
  content: "";
  position: absolute;
  border-left: 3px solid #f3652a;
  width: 3px;
  height: 100%;
  left: 0;
}
.rtl #categories_block_left ul li ul:before {
  border-right: 3px solid #f3652a;
  border-left: inherit;
}
.rtl #categories_block_left ul li ul:before {
  right: 0;
  left: auto;
}
#categories_block_left ul li ul li a {
  text-transform: none;
  color: #666666;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  padding: 10px 15px 10px 50px;
  border-left: 3px solid transparent;
}
.rtl #categories_block_left ul li ul li a {
  padding: 10px 50px 10px 15px;
}
.rtl #categories_block_left ul li ul li a {
  border-right: 3px solid transparent;
  border-left: inherit;
}
#categories_block_left ul li ul li a:hover {
  border-left: 3px solid #f3652a;
}
.rtl #categories_block_left ul li ul li a:hover {
  border-right: 3px solid #f3652a;
  border-left: inherit;
}
#categories_block_left ul li ul li span.grower {
  left: 27px;
  top: 8px;
}
.rtl #categories_block_left ul li ul li span.grower {
  right: 27px;
  left: auto;
}
