
/*  
 * LAYOUT VARIABLES 
 */

// Topbar 
$topbar-outside-bg: 				#333333 !default;
$topbar-bg: 						$nocolor !default;
$topbar-color: 						$text-color !default;
$topbar-font-size: 					11px !default;
$topbar-height:                     60px !default;

// header main
$headermain-outside-bg :			$white !default; 
$headermain-bg: 			 		$nocolor !default;
$headermain-color:					$text-color !default;

// Footer
$footer-outside-bg :				$white !default;
$footer-bg: 						$nocolor !default;
$footer-color: 						$theme-color-tertiary !default;